# <Sony Computer Entertainment Inc.>

# dialing_type_string "<tone>" "<pulse>" "<any>"
dialing_type_string "ATDT" "ATDP" "ATD"

# redial_string
redial_string "BUSY"

# chat_init
# Please set appropriate country code with "+GCI" command.
#   ex) "00": Japan, "B5": US
 chat_init "TIMEOUT 60\
 ABORT NO\\sCARRIER\
 ABORT ERROR\
 ABORT BUSY\
 ABORT DELAYED\
 ABORT LINE\\sIN\\sUSE\
 ABORT NO\\sDIALTONE\
 ABORT NO\\sANSWER\
 ABORT BLACKLISTED\
 \"\" \\dA\\pT\
 OK \\pAT+GCI=B5\
 OK \\p\\pAT&FL2W2X3\\-STE=1\
 OK \\c"

# chat_dial
 chat_dial "\"\" \\D\\T\
 CONNECT \\d\\c"

# chat_answer
 chat_answer "RING ATA\
 CONNECT \\d\\c"
