# <Sony Computer Entertainment Inc.>

# Use the first line for running from host0, use the second for running
# from cdrom.
#interface "ifc003.cnf + dev003.cnf" "ifc003.cnf" "dev003.cnf"
interface "IFC003.CNF + DEV003.CNF" "IFC003.CNF;1" "DEV003.CNF;1"

