# <NETCNF>
#
# interface configuration sample for USB-Ethenet
#
# $Id: ifc003.cnf,v 1.1 2001/03/28 17:53:56 mcj Exp $

type eth	# only USB-Ethernet I/F

dhcp		# use dhcp
-address	# do not specify IP address
-netmask	# do not specify Subnet Mask

#-dhcp					# do not use dhcp
#address 192.168.50.2			# set IP address
#netmask 255.255.0.0 			# set Subnet Mask
#route add default gw 192.168.1.1	# set default gateway
#nameserver add 192.168.10.1		# set primary name server

