# <NETCNF>
#
# NET configuration sample
#
# $Id: net003.cnf,v 1.1 2001/03/28 17:53:56 mcj Exp $


#interface "ifc003.cnf + dev003.cnf" "ifc003.cnf" "dev003.cnf"
interface "IFC003.CNF + DEV003.CNF" "IFC003.CNF;1" "DEV003.CNF;1"

dialing_type tone	# overwritten by ATTACH_CNF
#outside_number "0"	# outside number
#outside_delay ",,,"	# modem depended delay string for outside line
